.hashtags {
    border-top: 1px solid;
    margin: auto;
    min-width: 300px;
    padding-top: 30px;
    width: 25%;
}

.hashtags li {
    list-style-type: none;
    margin: auto;
    text-align: left;
    width: 75%;
}

.hashtags .error {
    border: 3px solid red;
}
