/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #ccc;
    text-align: center;
    padding: 5px;
}
/* End Sticky Footer */

.container {
    min-width: 320px;
    width: 100%;
}

.content {
    margin: auto;
    padding-bottom: 50px;
}

.content, header, nav {
    padding-right: 15px;
    padding-left: 15px;
}

/* Flash Message */
.flash_message {
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 100%;
}
/* End Flash Message */

/* Navigation Links */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}
/* End Navigation Links */

/* Form Errors */
ul.errors {
    color: red;
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    text-align: left;
}
/* End Form Errors */

body {
    text-align: center;
}

hr {
    border: 1px solid;
    width: 75%;
}

form {
    margin: auto;
    width: 50%;
}

form button[type=submit] {
    margin: auto;
    width: 50%;
}
