/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #ccc;
    text-align: center;
    padding: 5px;
}
/* End Sticky Footer */

.container {
    margin-top: 15px;
    min-width: 480px;
    width: 100%;
}

.content {
    margin: auto;
    padding-bottom: 50px;
}

.content, header, nav {
    padding-right: 15px;
    padding-left: 15px;
}

/* Flash Message */
.flash_message {
    background-color: yellow;
    font-weight: bold;
    left: 0;
    padding: 5px;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
}
/* End Flash Message */

/* Navigation Links */
.navbar.navbar-default {
    margin: auto;
    min-height: 0;
    min-width: 500px;
    width: 75%;
}

.nav.navbar-nav a {
    margin: 0;
}
/* End Navigation Links */

/* Form Errors */
ul.errors {
    color: red;
    list-style-type: none;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
    text-align: left;
    width: 25%;
}
/* End Form Errors */

body {
    background-color: ghostwhite;
    text-align: center;
}

hr {
    border: 1px solid;
}

/* jQuery Mobile Overrides */
.ui-page-theme-a {
    background-color: ghostwhite;
}

form {
    margin: auto;
    min-width: 300px;
    width: 25%;
}

.ui-page-theme-a button.ui-btn {
    background-color: royalblue;
    border-color: royalblue;
    color: white;
    font-weight: 100;
    margin: auto;
    min-width: 100px;
    width: 25%;
}
/* End jQuery Mobile Overrides */
