/* Posts */
.posts {
    border-top: 1px solid;
    padding-top: 30px;
}

.posts .anchor {
    float: left;
    position: relative;
    top: -35px;
    visibility: hidden;
    width: 0;
}

.post {
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 300px;
}

.post iframe {
    width: 95%;
}

.post button.btn {
    width: 95%;
}

.post button.btn-danger {
    background-color: crimson;
    border-color: crimson;
}
/* End Posts */

/* Sort Select Menu */
#sort .ui-field-contain {
    margin-top: .5em;
    margin-bottom: .5em;
}

#sort label {
    margin-top: .4em;
}

#sort .ui-btn {
    padding-top: .2em;
    padding-bottom: .2em;
}
/* End Sort Select Menu */
