.post {
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 0px;
    width: 300px;
}

.post iframe {
    width: 95%;
}

.post button.btn {
    width: 95%;
}
